{% extends 'base.html' %}
{% block title %}PII Exposures {% endblock title %}

{% block content %}
<div>
    <div class="text-xl font-bold text-center my-4 "> <span class="text-red-600">P</span>ersonally <span
            class="text-red-600">I</span>dentifiable <span class="text-red-600">I</span>nformation <span
            class="text-red-600">Exposures</span> </div>
    <div class='w-full md:w-5/6 mx-auto p-4 flex flex-col xl:flex-row gap-4 '>
        <div
            class="flex flex-col h-[200px] xl:h-[300px] my-auto border-2 border-red-200 w-full xl:w-1/2 shadow-lg bg-white p-6 rounded-lg">
            <div class="flex items-center gap-2 text-2xl text-gray-800 font-bold mx-auto"> Users <span class="">
            <img src="/static/images/user.svg" height="16" width="16" alt="cards"></span> </div>
            <div class=" flex flex-col ">
                <div class="flex items-center justify-around w-full gap-2 pt-4">
                    <div class="flex flex-col p-2 ">
                        <h2 class="text-3xl font-bold text-red-600">{{ unique_pii_exposures_length }}</h2>
                        <span class=" text-gray-500 font-semibold">User Breaches </span>
                    </div>
                    <div class="flex flex-col">
                        <h2 class="text-3xl font-bold text-red-600">{{pii_exposures_length}}</h2>
                        <span class="text-gray-500 font-semibold">Breaches in total </span>
                    </div>
                </div>
                <div class="font-semibold text-gray-500 w-fit mx-auto mt-8 ">There are <span class="text-red-600">
                        {{unique_pii_exposures_length}}</span> unique users breach , <span
                        class="text-red-600">{{pii_exposures_length}}</span> times in total. </div>
            </div>
        </div>

        <div
            class="border-2 border-red-200 min-h-[300px] xl:w-1/2 w-full flex-col bg-white shadow-lg p-4 rounded-lg flex mx-auto my-4">
            <div class="flex gap-4 flex-col lg:flex-row items-center pb-4">
                <h1 class="font-semibold text-left text-lg">Email</h1>
                <select class="px-2 py-1 font-medium rounded-lg border-2 border-red-400 text-sm bg-white outline-none"
                    name="cards">
                    <option value="">Select keyword</option>
                    <!-- {% for domain in unique_domains %}
                  <option value="{{domain}}">{{domain}}</option>
                {% endfor %} -->
                </select>
            </div>
            <div class="flex gap-4 flex-col lg:flex-row items-center justify-center w-full">
                <div class="w-2/5 flex items-center mx-auto justify-center">
                    <div
                        class="flex items-center justify-center p-2 h-36 w-36 bg-gradient-to-l from-yellow-500 to-red-500 rounded-full">
                        <div class="flex items-center justify-center w-32 h-32 bg-white rounded-full">
                            <span id="leak-count"
                                class="shadow-2xl shadow-gray-400/70 rounded-full h-16 w-16 border-2 border-gray-200 hover:border-gray-300 transition-all duration-300 ease-in-out flex items-center justify-center font-bold text-4xl text-red-600">0</span>
                        </div>
                    </div>
                </div>
                <div class="md:w-3/5 w-5/6 items-left justify-start flex flex-col">
                    <h1 class="text-left text-sm text-gray-600 font-semibold tracking-wide">There are <span
                            id="leak-count-text" class="text-red-500">0</span> domain leak sources. Here are the top
                        leak sources with the most findings:</h1>
                    <div class="w-full mt-2 border-t-2 border-gray-300 max-h-[150px] overflow-y-auto">
                        <ol class="list-disc px-4 py-2 font-bold text-gray-800 pt-4 flex items-left flex-col gap-2"
                            id="leak-source-list">
                            <!-- Leak sources will be populated here -->
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="flex w-full h-16  my-4 justify-between px-8 py-2 ">
        <div class="flex flex-col items-center justify-center ">
          <div class="mb-2 font-semibold text-gray-500 font-semibold"> Filter from <span
              class="text-red-400 underline pr-2 "> breach date </span> <a href="{% url 'pii-exposure' %}"
              class="font-normal bg-gray-200 cursor-pointer text-sm border-gray-400 border-2 px-2 rounded"> clear </a>
          </div>
          <form method="GET" enctype="multipart/form-data" class="flex gap-3 ">
            {% csrf_token %}
            <div class="bg-white border-red-300 border-2 flex gap-2 items-center px-4 py-1 rounded">
              <label for="start_date" class="font-semibold"> From : </label>
              <input class="bg-white  ouline-none rounded px-2 " type="date" name="start_date" id="start_date"
                value="{{ request.GET.start_date }}">
            </div>
            <div class="bg-white border-red-300 border-2 flex gap-2 items-center px-4 py-1 rounded">
              <label for="end_date" class="font-semibold"> To : </label>
              <input class="bg-white  ouline-none rounded px-2 " type="date" name="end_date" id="end_date"
                value="{{ request.GET.end_date }}">
            </div>
            <button type="submit"
              class="bg-red-500 hover:bg-red-700 text-white px-3 border-2 border-red-600 rounded font-semibold"> Apply
            </button>
          </form>
        </div>
        {% if user.is_superadmin %}
        <button onclick="showForm()"
          class="mt-4 font-semibold text-gray-600 border shadow-lg hover:bg-gray-600 hover:text-white transition-all duration-300 ease-in-out active:scale-105 transform border-gray-500 bg-gray-300 rounded px-3 py-1 flex items-center gap-1">
          <span class="text-xl">+</span> Add new record </button>
        {% endif %}
      </div>
      {% if errors %}
      <div class="my-4 px-6">
        <ul class="list-disc list-inside text-red-600">
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        <div class="flex items-center gap-2 bg-gray-200 px-4 my-2 font-semibold rounded text-gray-600 w-fit "> <img src="/static/images/alert.svg"  width="14" height="14" alt=""> Please provide the valid information and proceed to add. ( You can continue from previous inputs ;) </div>
      </div>
      {% endif %}
      <div id="backgroundMask" class="hidden fixed inset-0 bg-black bg-opacity-50 z-40"></div>
      <div id="domainForm" class="hidden fixed inset-0 z-50 flex items-center justify-center">
    
        <div class="bg-gray-100 border-red-400 border-2 p-6 rounded-lg shadow-xl w-full max-w-lg">
          <form method="POST" class="space-y-4" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
              <label for="source " class="block text-sm font-medium text-gray-700"> Full name </label>
              <input type="text" id="name" name="name"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                value="{{ post_data.name|default:'' }}" placeholder="eg. John Doe " />
            </div>
            <div>
              <label for="email" class="block text-sm font-medium text-gray-700"> Email </label>
              <input type="email" id="email" name="email"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                value="{{ post_data.email |default:'' }}" placeholder="eg. john.doe@example.com" />
            </div>
    
            <div>
              <label for="phone_number" class="block text-sm font-medium text-gray-700"> Phone  </label>
              <input type="number" id="phone_number" name="phone_number"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                value="{{ post_data.phone_number|default:'' }}" placeholder="eg. 9712345678" />
            </div>
    
            <div>
              <label for="breach_date" class="block text-sm font-medium text-gray-700"> Breach date </label>
              <input type="date" id="breach_date" name="breach_date"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                value="{{ post_data.breach_date|default:'' }}"  />
            </div>
   
            <div>
              <label for="source_domain" class="block text-sm font-medium text-gray-700"> Source domain </label>
              <input  type="text" id="source_domain" name="source_domain"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                value="{{ post_data.source_domain|default:'' }}"
                placeholder="eg. source-example.com" />
            </div>

            <div>
                <label for="source_ip" class="block text-sm font-medium text-gray-700"> Source IP  </label>
                <input  type="text" id="source_ip" name="source_ip"
                  class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  value="{{ post_data.source_ip|default:'' }}"
                  placeholder="eg. 192.xxx.xxx" />
              </div>


            <div>
              <label  for="data_type" class="block text-sm font-medium text-gray-700"> Type of data  </label>
              <input  type="text" id="data_type" name="data_type"
              value="{{ post_data.data_type|default:'' }}"
              placeholder="eg. Personal email"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
            </div>
    
            <div>
              <label for="threat_type" class="block text-sm font-medium text-gray-700"> Type of threat  </label>
              <input  type="text" id="threat_type" name="threat_type"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                value="{{ post_data.threat_type|default:'' }}"
                placeholder="eg. Phishing" />
            </div>
            <div>
                <label for="leak_source" class="block text-sm font-medium text-gray-700"> Leak source  </label>
                <input  type="text" id="leak_source" name="leak_source"
                  class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  value="{{ post_data.leak_source|default:'' }}"
                  placeholder="eg. Breach-Report-430" />
              </div>

            <div class="flex justify-end">
              <button type="button" onclick="hideForm()"
                class="bg-red-200 text-red-600 px-4 py-2 rounded-lg mr-2 hover:bg-red-100">
                Cancel
              </button>
              <button type="submit" class="inline-block bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-700">
                Add record
              </button>
            </div>
          </form>
        </div>
      </div>

    <div class="overflow-x-auto shadow-lg border-2 border-gray-400 rounded-xl my-2 mx-4">
        <div class=" overflow-y-auto border border-gray-200">
            <table class=" min-w-full bg-white">
                <thead class="bg-gray-100 text-gray-800">
                    <tr>
                        <th
                            class="w-fit py-2 px-2 border-b-2 text-gray-600 border-gray-400 text-center uppercase font-semibold">
                            Name</th>
                        <th
                            class="w-fit py-2 px-2 text-gray-600  border-b-2 border-gray-400 text-center uppercase font-semibold ">
                            Email</th>

                        <th
                            class="w-fit py-2 px-2 text-gray-600  border-b-2 border-gray-400 text-center uppercase font-semibold ">
                            Phone</th>
                        <th
                            class="w-fit py-2 px-2 text-gray-600  border-b-2 border-gray-400 text-center uppercase font-semibold ">
                            Breach Date</th>
                        <th
                            class="w-fit py-2 px-2 text-gray-600  border-b-2 border-gray-400 text-center uppercase font-semibold ">
                            Breach IP</th>
                        <th
                            class="w-fit py-2 px-2 text-gray-600  border-b-2 border-gray-400 text-center uppercase font-semibold ">
                            Source Domain</th>
                        <th
                            class="w-fit py-2 px-2 text-gray-600  border-b-2 border-gray-400 text-center uppercase font-semibold ">
                            Type of Data</th>
                        <th
                            class="w-fit py-2 px-2 text-gray-600  border-b-2 border-gray-400 text-center uppercase font-semibold ">
                            Threat type</th>
                        <th
                            class="w-fit py-2 px-2 text-gray-600  border-b-2 border-gray-400 text-center uppercase font-semibold ">
                            Source</th>

                    </tr>
                </thead>
                <tbody class=" text-gray-700">
                    {% if pii_exposures %}
                    {% for pii_exposure in pii_exposures %}
                    <tr>
                        <td class="text-center text-sm py-2 px-2 w-fit ">{{pii_exposure.name}}</td>
                        <td class="text-center text-sm py-2 px-2 w-fit ">{{pii_exposure.personal_email}}</td>
                        <td class="text-center text-sm py-2 px-2 w-fit ">{{pii_exposure.phone}}</td>
                        <td class="text-center text-sm py-2 px-2 w-fit ">{{pii_exposure.breach_date}}</td>
                        <td class="text-center text-sm py-2 px-2 w-fit ">{{pii_exposure.breach_ip}}</td>
                        <td class="text-center text-sm py-2 px-2 w-fit ">{{pii_exposure.source_domain}}</td>
                        <td class="text-center text-sm py-2 px-2 w-fit ">{{pii_exposure.type_of_data}}</td>
                        <td class="text-center text-sm py-2 px-2 w-fit ">{{pii_exposure.threat_type}}</td>
                        <td class="text-center text-sm py-2 px-2 w-fit ">{{pii_exposure.source}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="10" class="text-center py-2 px-2">No data found</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Define the JSON data as a variable
        const leakSources = JSON.parse('{{ leak_sources_json|escapejs|safe }}');

        const selectElement = document.querySelector('select[name="cards"]');
        const leakCountElement = document.getElementById('leak-count');
        const leakCountTextElement = document.getElementById('leak-count-text');
        const list = document.getElementById('leak-source-list');

        // Populate select options with unique leaked domains
        const uniqueDomains = Object.keys(leakSources);
        uniqueDomains.forEach(domain => {
            const option = document.createElement('option');
            option.value = domain;
            option.textContent = domain;
            selectElement.appendChild(option);
        });

        function updateLeakSources(domain = null) {
            // Clear the current list
            list.innerHTML = '';

            let sources = [];
            if (domain && leakSources[domain]) {
                sources = leakSources[domain];
            } else {
                // Aggregate all sources if no domain is selected
                Object.values(leakSources).forEach(domainSources => {
                    sources = sources.concat(domainSources);
                });
            }

            // Update the leak count
            const leakCount = sources.reduce((total, source) => total + source.count, 0);
            leakCountElement.textContent = leakCount;
            leakCountTextElement.textContent = leakCount;

            console.log("sources : ", sources)
            // Populate the list with the associated leak sources
            sources.forEach(source => {
                const listItem = document.createElement('li');
                listItem.className = 'flex items-center gap-2 text-sm';
                listItem.innerHTML = `<span class="text-sm border border-red-400 bg-red-200 px-2 rounded-md">${source.count}</span> ${source.domain}`;
                // listItem.textContent = `Source: ${source.source} (${source.count})`;
                list.appendChild(listItem);
            });
        }

        selectElement.addEventListener('change', function () {
            updateLeakSources(this.value);
        });

        // Initial load with no domain selected
        updateLeakSources();
    });
    document.querySelectorAll(".close-popup").forEach((button) => {
      button.addEventListener("click", function () {
        const ticketId = this.getAttribute("data-ticket-id");
        const popup = document.getElementById("ticket-popup-" + ticketId);
        popup.classList.add("hidden");
      });
    });
  
    function showForm() {
      document.getElementById("domainForm").classList.remove("hidden");
      document.getElementById("backgroundMask").classList.remove("hidden");
    }
  
    function hideForm() {
      document.getElementById("domainForm").classList.add("hidden");
      document.getElementById("backgroundMask").classList.add("hidden");
    }
</script>

{% endblock content %}